html{
  font-size: 62.5%;
}

.nav-menu{
  background-color: #333;
  color: white;
  padding: 1rem;
  position: relative;
}

.menu{
  background-color: #444;
}

.hamburguer-button .icon{
  display: inline-block;
  width: 3rem;
  text-align: center;
}

.hamburguer-button[aria-expanded="false"] .icon::before{
  content: '\2630';
}

.hamburguer-button[aria-expanded="true"] .icon::before{
  content: '\2715';
}

.hamburguer-button-js-enabled + .menu{
  display: flex;
  position: absolute;
  width: calc(100% - 3rem);
  left: 1.5rem;
  top: 60px;
  flex-direction: column;
}

.hamburguer-button-js-enabled+.menu-closed{
  display: none;
}

.menu li a{
  color: white;
  padding: 1rem;
  display: block;
}

.menu li a:hover,
.menu li a:focus{
  background-color: #555;
}

.hamburguer-button{
  background-color: none;
  display: none;
  color: white;
  padding: 1.4rem;
  background-color: #333;
}

.hamburguer-button-js-enabled{
  display: block;
}

@media (min-width: 768px){
  .hamburguer-button{
    display: none;
  }

  .menu{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    align-items: center;
  }

  .hamburguer-button-js-enabled + .menu{
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    justify-content: space-between;
    align-items: center;
  }
}

.main{
  padding: 2.2rem;
  max-width: 75%;
  font-size: 1.4rem;
}

.main h1{
  margin: 1.5rem 0;
}

.main p span{
  font-weight: bold;
}